{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Formula 1 Stats</title>

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %} "
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap"
      rel="stylesheet"
    />

    <!-- Page level plugin CSS-->
    <link
      href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template-->
    <link
      href="{% static 'css/sb-admin.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this project-->
    <link href="{% static 'css/f1.css' %}" rel="stylesheet" type="text/css" />
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-f1-grad static-top">
      <button
        class="btn btn-link  text-white order-1 order-sm-0"
        id="sidebarToggle"
        href="#"
      >
        <i class="fas fa-bars"></i>
      </button>
      <img
        src="{% static 'images/f1_logo_car.png' %}"
        alt="formula 1 car"
        class="logo-img"
      />
      <a class="navbar-brand mr-1 logo-type" href="index.html"
        >Formula 1 Fanatic</a
      >
    </nav>

    <div id="wrapper">
      <div id="sidebar">
        {% block sidebar %}
        <ul class="sidebar navbar-nav">
          <li><a href="/" class="btn btn-light">Home</a></li>
        </ul>
        {% endblock %}
      </div>

      <div id="content-wrapper">
        <div class="container-fluid">
          <div class="card mb-3">
            {% block datatable %} {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  </body>
</html>
