{% extends 'index.html' %}
{% block sidebar %}
    <div class="sidebar">
        <h4 class="white-text choice">Get the facts about every F1 race and driver.</h4>
        <form action="" class="input-form year choice" method="get" name="input-form">
            <div class="form-group">
                <label class="white-text" for="formGroupYearInput">Choose a year from 1950 to 2018:</label>
                <input class=" form-control form-control-s" id="year" maxlength="4" name="year" pattern="\d{4}" required select/>
            </div>
            <div class="input-form">
                {% csrf_token %}
                <input class="btn btn-light" type="submit" value="Select"></div>
            </form>
        </div>
    {% endblock %}
    {% block datatable %}
        <div class="card-group">
            {% for item in webSearchData.items %}
                <div class="card">
                    {% if item.pagemap.cse_image %}
                        {% for img in item.pagemap.cse_image %}
                            <a href="{{ item.link }}" target="_blank">
                                <img alt="Card image cap" class="card-img-top" src="{{ img.src }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.title }}</h5>
                                    </a>
                                    <p class="card-text">{{ item.snippet }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                <div class="card-group">
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
