{% extends 'index.html' %}
{% csrf_token %}


{% block datatable%}
<div class="card-header" id="table-title">
{{ year}} Racing Season</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Round</th>
          <th>Race Name</th>
          <th>Circuit Name</th>
          <th>Results</th>
        </tr>
      </thead>
      <tbody>
        {% for race in races %}
        <tr>
          <td>{{ race.round }}</td>
          <td>{{ race.name }}</td>
          <td> <a href={{race.circuitId.url}} > {{ race.circuitId.name }} </a></td>
          <td> <a class="btn btn-sm btn-danger" href="./results/{{year}}/{{race.raceId}}">Results</button> </td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
<!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
{% endblock %}
